@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body,html{
    height: 100vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
table{
    max-width: 500px;
    width: 100vw;
    height: 100vh;
    background: #3d3d3d;
    text-align: center;
}
input#results{
    height: 120px;
    width: 100%;
    font-size: 2.5em;
    background: #3a3737;
    color: #fff;
    outline: none;
}
tbody > tr > td{
    width: 25%;
    height: calc(280px / 5);
}
input[type="button"]{
    border: none;
    font-size: 1.2em;
    height: 70%;
    width: 60%;
    border-radius: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
    color: #fff;
    background-color: #3a3737;
}
input.numbers:active, input.sinal:active, input#apagar:active{
    background-color: #615d5d;
}
input#acButton{
    background: #9c0357;
}
input#acButton:active{
    background: #c5046e;
}
input#apagar{
    background: url('imagem/backspace-symbol.png') no-repeat center center ;
    background-size: 1.3em;
    text-align: center;
    background-color: #3a3737;
}
input#equal{
    background: #612ac7;
}
input#equal:active{
    background: #813eff;
}